<!DOCTYPE html>
<html class="dark" lang="cs">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title inertia>
      Odjezdová tabule
    </title>

    @viteReactRefresh()
    @inertiaHead()
    @vite(['inertia/app/app.tsx', `inertia/pages/${page.component}.tsx`])
  </head>

  <body>
    @inertia()
  </body>

</html>
